*{
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ececec;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-css{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 150px 10px 10px 10px;
  width: 700px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.img-css{
  width: 200px;
  height: 220px;
  border: 2px solid white;
}

.arrow-prev{
  cursor: pointer;
  position:relative;
  display:block;
  margin: 100px 100px 0 0;
  width:100px;
  height: 100px;
  border: solid 6px #999;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
  &:before, &:after{
    content:"";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:45%;
    background: #999;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(135deg);
    transition: all .2s linear;
  }
  &:after{
    z-index: 3;
    top:59%;
    left:45%;
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  &:hover{
    border: solid 8px #777;
    &:after, &:before{
      background: #777;
    }
  }
  &:active{
    border: solid 8px #111;
    &:after, &:before{
      background: #111;
    }
  }
}
.arrow-next{
  cursor: pointer;
  position:relative;
  display:block;
  margin: 100px 0 0 100px;
  width:100px;
  height: 100px;
  border: solid 6px #999;
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
  &:before, &:after{
    content:"";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:55%;
    background: #999;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
  }
  &:after{
    z-index: 3;
    top:59%;
    left:55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover{
    border: solid 8px #777;
    &:after, &:before{
      background: #777;
    }
  }
  &:active{
    border: solid 8px #111;
    &:after, &:before{
      background: #111;
    }
  }
}

.loading{
  margin: 300px auto;
}

.loader {
  color: #111;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 